---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Here I say what I am doing with my life",
	title: "Now",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Now</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Here I say what I am doing with my life.
		</p>
	</div>
</PageLayout>
