---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "What I use in my day to day",
	title: "Uses",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Uses</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I'm supposed to introduce myself here.
		</p>
	</div>
</PageLayout>
