{{ define "main" }}

{{ .Content }}

<h4>Last updates</h4>

<ul class="blog-posts">
    {{ range ( first 5 ( .Site.RegularPages.ByDate.Reverse ) ) }}
    <li>
      
      <span>
          <i>
            <time datetime='{{ .Date.Format "2006-01-02" }}'>
              {{ .Date.Format (default "02 Jan 2006" .Site.Params.dateFormat) }}
            </time>
          </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet :(
    </li>
    {{ end }}
</ul>

{{ end }}
